/* Configuración global */
body {
    background-color: #212529;
    margin: 0;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Ocupa 100% de la ventana  en PC*/
    height: 100dvh; /*Para ajustarse a los moviles. Altura dinámica real */
    box-sizing: border-box;
    color: white;
    overflow: hidden; /* Evita el scrollbar si se pasa */

    /*Para Iphone sin el menú de scroll*/
    padding-bottom: env(safe-area-inset-bottom);
}

header {
    width: 100%;
    max-width: 600px;
    margin-bottom: 5px;
    flex-shrink: 0; /* NO se encoge */
    z-index: 10;
}

header .nes-container.with-title {
    padding-bottom: 15px !important;
    padding-top: 20px !important;
    background-color: #212529;
}

.nes-container.with-title > .title {
    background-color: #212529 !important;
    color: #f7d51d; 
    margin-bottom: 0 !important;
}

.stats-row {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.stat-item {
    flex: 1;
    font-size: 0.65rem; 
    text-align: center;
    display: flex;
    flex-direction: column;
}

.hidden { display: none !important; }

.nes-progress {
    height: 24px !important; 
    margin-top: 8px !important;
    margin-bottom: 0 !important;
    border-width: 4px; 
}

/* Área del juego (es flexible)*/
.game-container {
    flex-grow: 1; /* Toma TODO el espacio libre disponible */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden; /* Contiene al dino si intenta salirse */
    padding: 10px 0;
}

.dino-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.nes-balloon {
    position: absolute;
    top: 0; /* Pegado arriba del contenedor flexible */
    z-index: 20;
    padding: 0.5rem !important;
    font-size: 0.7rem;
    color: black;
    opacity: 0.95;
    max-width: 80%;
}

/* RESOLUCIÓN DE LAS IMAGENES DEL DINOSAURIO */
.pixel-art {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    transition: all 0.3s ease-out;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
    
  
    /* Se usa calc para que nunca rompa el layout */
    width: auto; 
    height: auto;
    
    /* Cálculo: 100vh - (Header + Actions + Footer + Margins) aprox 300px */
    max-height: calc(100vh - 300px); 
    
    max-width: 95vw;
    object-fit: contain;
}

.pixel-art:active { transform: scale(0.95) !important; }

/* "referencia base" del TAMAÑO pero el max-height controla que den en la pantalla */
.stage-egg    { min-height: 160px; }
.stage-baby   { min-height: 220px; }
.stage-kid    { min-height: 250px; }
.stage-juve   { min-height: 350px; }
.stage-adult  { min-height: 450px; } 

/* PARA EL MENU DE ACCIONES */
.menu-actions {
    width: 100%;
    max-width: 600px;
    margin-bottom: 5px;
    flex-shrink: 0; /* NO se encoge, siempre visible */
    z-index: 50;
}

.menu-actions .nes-container.with-title {
    padding: 15px !important;
    background-color: #212529;
}

.buttons-grid {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.nes-btn {
    font-size: 0.75rem;
    padding: 10px 5px;
    margin: 0 !important;
    white-space: nowrap;
    flex: 1; 
}

.system-footer {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
    width: 100%;
    flex-shrink: 0; /* NO se encoge, siempre visible */
    z-index: 50;

    margin-bottom: 15px; 
    padding-bottom: 5px;
}
